/*footer section*/
.footer__copyright {
  margin: 92px auto 24px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 64px auto 24px;
    line-height: 1;
  }
}
