/* Page Block  */
.page {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 34px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}
