/* Photo-grid Section */
.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .photo-grid__item {
    max-width: none;
    max-height: none;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
  }
  .photo-grid__item {
    max-width: none;
    max-height: none;
  }
}
