/* Places section  */
.places {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .places__list {
    gap: 72px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 62px;
    padding-left: 0;
    padding-right: 0;
  }
  .places__list {
    gap: 50px;
  }
}
